configuration {
  theme: "~/.config/rofi/themes/dracula.rasi";
  run-shell-command: "alacritty -o window.dimensions.columns=9999 window.dimensions.lines=9999 -t {cmd} -e {cmd}";
  ssh-command: "alacritty -o window.dimensions.columns=9999 window.dimensions.lines=9999 -t 'SSH {host}' -e {ssh-client} {host}";
}

