configuration {
  theme: "/usr/share/rofi/themes/android_notification.rasi";
  run-shell-command: "alacritty -d 9999 9999 -t {cmd} -e {cmd}";
  ssh-command: "alacritty -d 9999 9999 -t 'SSH {host}' -e {ssh-client} {host}";
}
